# Environnements virtuels
venv/
.venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Système
.DS_Store

# IDE
.vscode/
.idea/

# Figures générées (à ne PAS versionner si trop lourdes — sinon retire ces lignes)
# figures/*.png
